SRV_MONGO_MASTER_URL=http://localhost:27017/
SRV_MONGO_DB_EXCHANGE=DB_PRINCIPAL
SRV_MONGO_DB_OPERATIONS=DB_SECUNDARIA

# Opcionales
SOURCE_COLLECTION=nombre_coleccion
TARGET_COLLECTION=coleccion_tickets
DRY_RUN=false
LIMIT=2
BATCH_SIZE=10
